<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RJ and Dweeb</title>
    <link rel="stylesheet" href="{{ url_for('static', filename=('style.css')) }}">
</head>
<body>
    {% for project in projects %}
        <div class="list_div">
            <a href="view/{{ project }}">
                <h1>
                    <img class="list_img" src="{{ url_for('static', filename=('projects/' + project + '.png')) }}">
                    {{ projects[project] }}
                </h1>
            </a>
        </div>
    {% endfor %}
</body>
</html>