<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RJ and Dweeb</title>
    <link rel="stylesheet" href="{{ url_for('static', filename=('style.css')) }}">
</head>
<body class="background">
    <div class="list_container">
        <h1 class="header"> Projects </h1>
        {% for project in projects %}
            <div class="list_item">
                <a href="view/{{ project.name }}">
                    <img class="list_img" src="{{ url_for('static', filename=('projects/' + project.name + '.png')) }}">
                </a>
            </div>
        {% endfor %}
    </div>
</body>
</html>